:root {
	--primary-color: #29ABE2;
}

* {
    font-family: 'Montserrat', sans-serif; 
    box-sizing: border-box;
}
body {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 100px 1fr;
    margin: 0;
    overflow: hidden;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;
    border-bottom: 2px solid var(--primary-color);
}

header svg {
    position: absolute;
    right: 20px;
    top: 30px;
}
.logo img {
    height: 90px;
}

.wrapper {
    overflow-y: auto;
}

button {
    cursor: pointer;
}
