.travelAuthContainer {
    height: 100%;
    width: 100%;
}

.travelAuthForm {
    overflow-y: auto;
    height: 85%;
    width: 100%;
    border-bottom: 2px solid var(--primary-color);
    padding: 20px;
}
.employeeInfo {
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(5, auto);
    width: 80%;
    height: 40px;
}

.employeeInfo div {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.formRow {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    max-height: 150px;
    margin: 30px 0 30px 0;
}

.itineraryList {
    height: 100%;
    overflow-y: auto;
}

.listRow {
    display: grid;
    grid-template-columns: 10% 20% 40% 30%;
    height: 50px;
}

.listRow > div {
    text-align: center;
    border: 1px solid black;
    padding: 3px;
    overflow-x: auto;
}

.listRow > div > input {
    width: 100%;
}

.submit {
    padding: 20px;
}
