.wrapper {
    display: grid;
    grid-template-rows: 1fr 100px;
}

.travelAuthContainer {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.travelAuthForm {
    overflow-y: auto;
    height: 100%;
    width: 100%;
    border-bottom: 2px solid var(--primary-color);
    padding: 20px;
}
.employeeInfo {
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(5, auto);
    width: 80%;
    height: 40px;
}

.employeeInfo div {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#listHeader > div{
    white-space: nowrap;
}

.formRow {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    max-height: 200px;
    margin: 30px 0 30px 0;
}

.itineraryList {
    max-height: 150px;
    overflow-y: auto;
    margin-bottom: 10px;
}

.listRow {
    display: grid;
    grid-template-columns: 10% 20% 40% 30%;
    height: 40px;
}

.listRow > div {
    text-align: center;
    border: 1px solid black;
    padding: 3px;
    overflow-x: auto;
}

.listRow > div > input {
    width: 100%;
}

.submit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.submit button {
    height: 30px;
    margin: 0 10px;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    background-color: white;
    border-radius: 5px;
}

.submit button:hover {
    color: white;
    background-color: var(--primary-color);
}

.submit span {
    position: absolute;
    bottom: 10px;
    color: #D9512C;
    font-size: 14px;
    visibility: hidden;
}